<!DOCTYPE HTML>
<html>
  <head>
    <title>Bookshelf</title>
    <%= javascript 'jquery' %>
    <%= stylesheet 'bootstrap' %>
    <%= javascript 'bootstrap' %>
  </head>
  <body>
    <%= render partial: 'shared/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
